*{
    margin: 0;
   padding: 0;
}

header {
   background-color: rgb(241, 241, 241);
   color:rgb(0, 0, 0);
   display:flex;
   justify-content: space-around;
   align-items: center;
   width: 1920px;
   height: 200px;
}

.cabecalho-imagem{
   width: 300px;
   
}
.pastelaria-imagem{
   width: 25%;
}

   .Cabecalho-lista-item{
       margin: 0 16px;
       font-size: 24px;
       display:inline-block;
   }
   .pastelaria{
      display: grid;
      grid-template-columns: 50% 50%;
       background-image: linear-gradient(rgb(241, 241, 241),#c9c9c9);
       color:rgb(0, 0, 0);
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 24px 0;
       font-family: Arial, Helvetica, sans-serif;
   }
   






