*{
    margin: 0;
   padding: 0;
}

header {
   background-color: rgb(0, 0, 0);
   color:rgb(0, 0, 0);
   display:flex;
   justify-content: space-around;
   align-items: center;
   width: 1920px;
   height: 200px;
}

.cabecalho-imagem{
   width: 300px;
   
}
.pastelaria-imagem{
   width: 25%;
}
.pastel-div-conteudo{
   width: 35%;
}

   .Cabecalho-lista-item{
       margin: 0 16px;
       font-size: 24px;
       display:inline-block;
       color: #ffffff;
   }
   .pastelaria{
      display: grid;
      grid-template-columns: 50% 50%;
       background-image: linear-gradient(rgb(0, 0, 0),#000000);
       color: rgb(0, 0, 0);
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 24px;
       font-family: Arial, Helvetica, sans-serif;
   }
   .titulo-pastelaria{
      padding: 30px 0;
      text-align: center;
   }
   .pastelaria-texto-um{
      font-size: 23px;
      color: rgb(255, 255, 255);
   }
   .pastelaria-texto-dois{
      font-size: 20px;
      padding: 20px 0;
      color: rgb(255, 255, 255);
   }





